body { 
	background-image: url("pics/boogie.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100%;
	padding: 0;
	}


h1 {
			display: inline;
			font-family: Impact, Charcoal, sans-serif;
            color: black;
            background-color: white;
            padding-left: 20px;
            padding-right: 202.5px;
            padding-top: 10px;
            font-size: 1in;
            overflow: hidden;
  }


h2 {
			display: inline;
			font-family: Impact, Charcoal, sans-serif;
            color: black;
            background-color: white;
            padding-left: 20px;
            padding-bottom: 10px;
            font-size: 1in;
            overflow: hidden;
            padding-right: 200px;
  }

h3 {
			display: inline;
			font-family: Impact, Charcoal, sans-serif;
            color: black;
			background-color:rgba(255,255,255,0.9);
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0px;
            font-size: .75in;
  }

p {
	display: inline;
	color: black;
	text-indent: 50px;
	font-size: .20in;
	padding-bottom: 20px;
	padding-top:20px;
}

.col-sm-8 {
	background-color:rgba(255,255,255,0.9);
	padding-bottom: 100px;
	padding-top:20px;
}

.col-sm-3 {
	padding-bottom: 20px;
	margin: 10px;
	padding:10px;
	padding-top: 5px;
	margin-right: 50px;
	margin-left: 50px;
}

.videotitle {
	background-color:transparent;
	color: black;
	font-size: .30in;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.bg1 {
	padding-top: 300px;
	padding-bottom: 500px;
}

.bg2 {
	padding-top: 100px;
	padding-bottom: 20%;
}

.bg3 {
	padding-top: 100px;
	padding-bottom: 20%;
}

.bg4 {
	padding-top: 100px;
	padding-bottom: 10%;
}

.bg5 {
	background-color:rgba(255,255,255,0.9);
	color: #1abc9c;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 18px;
	width: 100%;
	padding: 20px;
	margin-right: 20px;
    border: 0;
    border-radius: 0;

}

.row1 {
	margin-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.row {
	margin-left: 0px;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:rgba(255,255,255,0.9);

}

.navbar {
	width: 100%;
	position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: Impact, Charcoal, sans-serif;
    background-color: white;
    color: black;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
